body {
    margin: 0;
    padding: 0;
    background-color: black;
    background-size: cover;
    overflow-x: hidden;
}

body::after {
    background-image: url(l4d_bg.png);
    background-size: cover;
    content: "";
    position: absolute;
    top: -100px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 33%;
    z-index: -2;
    background-repeat: no-repeat;
}
.container {
    z-index: -1;
    color: white;
    border: 2px solid #ff0000;
    background-color: #000000;
    border-radius: 10px;
    padding: 10px;
    margin: 50px 0;
    width: 1050px;
    margin: auto; 
    padding-right: -200px;
}
.header {
    align-items: center;
    background-color: rgba(0, 0, 1, 0.9);
    width: 100%;
    display: flex;
    position: fixed;
    background-size: cover;
}
.container {
    position: relative;
    border-radius: 10px;
    background-color: #430000;
    padding: 20px 0 30px 0;
}
.container::after {
    content: "";
    clear: both;
    display: table;
}
.darker {
    border-color: #6c0000;
    background-color: #000000;
}
.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  .header a {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.header a:hover {
    color: red;
}

.header ul:hover {
    transition: .3s;
    transform: scale(1.1);
}
.p1{
    margin-left: 20%;
}

.p2{
    margin-left: 3%;
}

.p3{
    margin-left: 3%;
}

.p4{
    margin-left: 3%;
}
footer {
    background-color: rgb(21, 21, 21);
    padding: 2%;
    text-align: center;
    color: white;
    position: relative;
    top: 150px;
}

.lt-b p {
    color: white;
    font-size: 75px;
    padding-left: 40%;
}
